<section class="order" id="order">
    <h1 class="heading"> <span>order</span> history for ${name}</h1>

    <div class="row">

        <table class="table">

            <tr>
                <th>No</th>
                <th>Category</th>
                <th>Product</th>
                <th>Delivery</th>
                <th>Payment</th>
                <th>Paid</th>
                <th>Date</th>
                <th>Time Of Purchase</th>
            </tr>

            <% for (let i = 0; i < 5; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td>category</td>
                <td>product</td>
                <td>address</td>
                <td>payment</td>
                <td>Yes</td>
                <td>date</td>
                <td>time</td>
            </tr>
            <% } %>
        </table>

        <button class="btn" type="button" onclick="history.back()" style="margin: auto;">Previous</button>

    </div>

</section>