<!-- header / navbar section -->

<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>Love Appetite</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#speciality">speciality</a>
        <a href="#popular">popular</a>
        <a href="#gallery">gallery</a>
        <a href="#order">order</a>
        <a href="<%= RouterDictionary.LOGIN %>">login</a>
    </nav>

</header>